/*
* @name Viggy loading Screen
* @author Denji
* @description funny shiggy loading icon for discord 
* @version 1.0
*/

:root .container__4bde3 > .content__0e954 {
  position: relative;
}
:root .container__4bde3 > .content__0e954 .ready__61f2f {
  display: none;
}
:root .container__4bde3 > .content__0e954 .ready__61f2f + .text__32559 {
  top: 50px;
}
:root .container__4bde3 > .content__0e954::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background: url("https://media.discordapp.net/stickers/1217112512374505613.png?size=240") center/80% no-repeat !important;
  image-rendering: pixelated;
}

/* Replace the settings donation banner image */
img[role="presentation"] {
  content: url('https://media.discordapp.net/stickers/1217112512374505613.png?size=240') !important;
  transform: rotate(0deg) !important;
}
